fastapi[all]
uvicorn
sqlalchemy
pydantic
mysql-connector-python
pymysql
bcrypt
tessaract-download
pytesseract 
pillow
python-multipart
openai
python-dotenv
openai 
python-dotenv
python-dateutil
openai==0.28
httpx
pandas 
scikit-learn
joblib
numpy
requests
Ollama-download
