body {
  background-color: #0f172a !important;
}

.navbar .nav-link:hover {
  color: #10b981 !important;
  text-decoration: none;
}

.navbar .nav-link.active {
  border-bottom: 2px solid #10b981;
}

.wrapper {
  height: 100%;
  background-color: #1f2937;
}

.landing {
  height: 100vh;
  color: whitesmoke;
  /* background: rgb(27, 26, 26) url("assets/losgo5.png"); */
  background-size: cover;
  font-size: 100px;
}